.container {
    display: flex; 
    flex-direction: row; 

    align-items: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

video {
    width: 800px;
    justify-content: center;
    align-content: center;
}

.vid-playlist {
    float: left;
    margin-left: -10rem;
}